In [15]:
%run ../scripts/python/standardize.py
%matplotlib inline
pd.set_option('max_columns',50)

I will disclose here that my limited understanding of best practice for javascript and knolwedge of up to date browser capabilities may mean that I did not create the best structure for the data to be used in the blds charts, but loading the blds data for a single location in the following way ended up working to accomplish what I was trying to do.

The point of this script is to create rows that follow this format for months:
permttypemapped, month and permttypemapped count *12 months, color assignment

and this format for years:
permittypemapped, years and permittypemapped count *# of years, color assignment, years_array

In [3]:
chatt_data = pd.read_csv('../_data/blds_csvs/cities/Chattanooga.csv')

In [4]:
add_year_month_day_df(chatt_data,'issueddate','issued')

In [5]:
chatt_data.head(1)

,Unnamed: 0,applieddate,contractorcompanyname,contractorlicnum,contractorphone,description,estprojectcost,fee,issueddate,lastupdated,originaladdress1,originaladdresslocation,city,state,originalzip,permitclass,permitnum,permittype,pin,status,statusdate,units,latitude,longitude,permittypemapped,issuedYear,issuedMonth,issuedDay
0,0,2009-02-10T00:00:00,OWNER,0000000,NaN,MAJOR REPAIRS TO EXISTING SINGLE FAMILY RESIDENCE,22500.0,150.0,2009-02-10T00:00:00,20090826.0,3501 04TH AVE,NaN,CHATTANOOGA,TN,37407.0,Building Permit,09-10159,Building/Building Permit/Residential (1-2 Unit...,033168A H 00200,Closed,2009-08-26T00:00:00,1.0,NaN,NaN,BUILDING,2009.0,2.0,1.0

In [7]:
chatt_data.to_csv('../_data/Chattanooga.csv')

In [5]:
chatt_plot = chatt_data.groupby(['permittypemapped','issuedMonth']).size().to_frame().reset_index().rename(columns={0:'tally'})

This is clearly not a comprehensive dataset. I wonder why San Diego is only able to provide data for 3 years (2010,15, and 17) after 2010.

In [10]:
chatt_tallies = tallies_by_permit(chatt_plot,'permittypemapped','issuedMonth',colors,'month')

In [11]:
chatt_tallies

[['DEMOLITION',
  121,
  121,
  160,
  129,
  101,
  120,
  151,
  154,
  162,
  140,
  126,
  111,
  'rgba(255, 206, 86, 1)'],
 ['ELECTRICAL', 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 'rgba(255, 159, 64, 1)'],
 ['BUILDING',
  105,
  121,
  120,
  145,
  8,
  13,
  4,
  10,
  24,
  1,
  16,
  80,
  'rgba(255,99,132,1)']]

This will be the output for the month's plot

In [12]:
pd.DataFrame(chatt_tallies).to_csv('../_data/chatt_tallies.csv')

In [13]:
chatt_year = chatt_data.groupby(['permittypemapped','issuedYear']).size().to_frame().reset_index().rename(columns={0:'tally'})

In [16]:
chatt_year_tallies = tallies_by_permit(chatt_year,'permittypemapped','issuedYear',colors,'year')

Below is the output used for the years plot

In [17]:
pd.DataFrame(chatt_year_tallies).to_csv('../_data/tallies_chatt_year.csv')