In [75]:
%run scripts/python/standardize.py
%matplotlib inline
pd.set_option('max_columns',50)

In [11]:
chatt_data = pd.read_csv('_data/blds_csvs/cities/Chattanooga.csv')

In [12]:
add_year_month_day_df(chatt_data,'issueddate','issued')

In [13]:
chatt_data.head(1)

,Unnamed: 0,Unnamed: 0.1,applieddate,contractorcompanyname,contractorlicnum,contractorphone,description,estprojectcost,fee,issueddate,lastupdated,originaladdress1,originaladdresslocation,city,state,originalzip,permitclass,permitnum,permittype,pin,status,statusdate,units,latitude,longitude,permittypemapped,issuedYear,issuedMonth,issuedDay
0,0,0,2009-02-10T00:00:00,OWNER,0000000,NaN,MAJOR REPAIRS TO EXISTING SINGLE FAMILY RESIDENCE,22500.0,150.0,2009-02-10T00:00:00,20090826.0,3501 04TH AVE,NaN,CHATTANOOGA,TN,37407.0,Building Permit,09-10159,Building/Building Permit/Residential (1-2 Unit...,033168A H 00200,Closed,2009-08-26T00:00:00,1.0,NaN,NaN,BUILDING,2009.0,2.0,1.0

In [7]:
chatt_data.to_csv('_data/Chattanooga.csv')

In [8]:
chatt_plot = chatt_data.groupby(['permittypemapped','issuedMonth']).size().to_frame().reset_index().rename(columns={0:'tally'})

This is clearly not a comprehensive dataset. I wonder why San Diego is only able to provide data for 3 years (2010,15, and 17) after 2010.

In [9]:
chatt_plot

   permittypemapped  issuedMonth  tally
0          BUILDING          1.0    105
1          BUILDING          2.0    121
2          BUILDING          3.0    120
3          BUILDING          4.0    145
4          BUILDING          5.0      8
5          BUILDING          6.0     13
6          BUILDING          7.0      4
7          BUILDING          8.0     10
8          BUILDING          9.0     24
9          BUILDING         10.0      1
10         BUILDING         11.0     16
11         BUILDING         12.0     80
12       DEMOLITION          1.0    121
13       DEMOLITION          2.0    121
14       DEMOLITION          3.0    160
15       DEMOLITION          4.0    129
16       DEMOLITION          5.0    101
17       DEMOLITION          6.0    120
18       DEMOLITION          7.0    151
19       DEMOLITION          8.0    154
20       DEMOLITION          9.0    162
21       DEMOLITION         10.0    140
22       DEMOLITION         11.0    126
23       DEMOLITION         12.0    111
24       ELECTRICAL          7.0      1
25       ELECTRICAL          9.0      1

In [11]:
chatt_tallies

[['BUILDING',
  105,
  121,
  120,
  145,
  8,
  13,
  4,
  10,
  24,
  1,
  16,
  80,
  'rgba(255,99,132,1)'],
 ['ELECTRICAL', 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 'rgba(54, 162, 235, 1)'],
 ['DEMOLITION',
  121,
  121,
  160,
  129,
  101,
  120,
  151,
  154,
  162,
  140,
  126,
  111,
  'rgba(255, 206, 86, 1)']]

In [12]:
pd.DataFrame(chatt_tallies).to_csv('_data/chatt_tallies.csv')

In [65]:
chatt_year = chatt_data.groupby(['permittypemapped','issuedYear']).size().to_frame().reset_index().rename(columns={0:'tally'})

In [77]:
chatt_year_tallies = tallies_by_permit(chatt_year,'permittypemapped','issuedYear',colors,'year')

In [78]:
cy_tallies = get_years(chatt_year_tallies)

In [79]:
cy_tallies

[['DEMOLITION',
  95,
  166,
  208,
  170,
  200,
  223,
  231,
  231,
  121,
  0,
  'rgba(255,99,132,1)',
  [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]],
 ['ELECTRICAL',
  2,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'rgba(54, 162, 235, 1)',
  [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]],
 ['BUILDING',
  89,
  555,
  3,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'rgba(255, 206, 86, 1)',
  [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]],
 ['POOL',
  11,
  11,
  22,
  28,
  26,
  24,
  35,
  25,
  15,
  0,
  'rgba(75, 192, 192, 1)',
  [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]]]

In [80]:
pd.DataFrame(chatt_year_tallies).to_csv('_data/tallies_chatt_year.csv')