In [12]:
%run scripts/python/standardize.py
%matplotlib inline
pd.set_option('max_columns',50)

In [2]:
raleigh_data = pd.read_csv('_data/blds_csvs/cities/Raleigh.csv')

/Users/summerfellow/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,19,32,35,52,73,80,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
add_year_month_day_df(raleigh_data,'issueddate','issued')

In [8]:
raleigh_data.head(1)

,Unnamed: 0,applieddate,censuslanduse,censuslandusecode,cntyacctnum,cocissueddate,cocnbr,coissueddate,constcompletedofficial,contractoraddress1,contractoraddress2,contractorcity,contractorcompanyname,contractordba,contractoremail,contractorlicnum,contractorphone,contractorstate,contractorzip,corlotid,countylocation,description,devplanid,estprojectcost,expirednewpermnum,...,permitnum,permittype,permittypemapped,pin,projectname,proposeduse,proposedworkdescription,publisher,recordupdatedate,reviewercomments,statelicnum,status,statuscurrentmapped,streetdirectionprefix,streetdirectionsuffix,streetname,streetnum,streettype,totalsqft,voiddate,workclass,workclassmapped,issuedYear,issuedMonth,issuedDay
0,0,2017-07-21T00:00:00.000,ADDITION/ALTERATION RESIDENTIAL BLDG,434.0,5543,NaN,NaN,NaN,No,400 DOMINION DR,SUITE 106,MORRISVILLE,BLUE HAVEN POOLS & SPAS,"DBA: BH-RALEIGH, INC., T/A",matosh06@bellsouth.net,9474.0,9.194652e+09,NC,27560,2427,WAKE,ADDING RETAINING WALL,0.0,3000.0,NaN,...,141955,BUILDING,Building,1.70557e+09,CONVERSION DEVELOPMENT PLAN,ADDITION/ALTERATION RESIDENTIAL BLDG,ADDING RETAINING WALL,City of Raleigh,2017-07-28T00:00:00.000,NaN,66967,ACTIVE (ISSUED),Permit Issued,NaN,NaN,KEATS,3507,PL,0.0,NaN,Alterations/repairs,Existing,2017.0,7.0,4.0

In [9]:
raleigh_data.to_csv('_data/Raleigh.csv')

In [111]:
raleigh_plot = raleigh_data.groupby(['permittypemapped','issuedMonth']).size().to_frame().reset_index().rename(columns={0:'tally'})

This is clearly not a comprehensive dataset. I wonder why San Diego is only able to provide data for 3 years (2010,15, and 17) after 2010.

In [11]:
raleigh_plot

   permittypemapped  issuedMonth  tally
0          Building          1.0   8861
1          Building          2.0   8515
2          Building          3.0  11221
3          Building          4.0  11435
4          Building          5.0  12306
5          Building          6.0  12720
6          Building          7.0  11147
7          Building          8.0  11772
8          Building          9.0  10236
9          Building         10.0  10388
10         Building         11.0   8416
11         Building         12.0   8181
12       Demolition          1.0    350
13       Demolition          2.0    322
14       Demolition          3.0    331
15       Demolition          4.0    396
16       Demolition          5.0    435
17       Demolition          6.0    365
18       Demolition          7.0    329
19       Demolition          8.0    402
20       Demolition          9.0    327
21       Demolition         10.0    385
22       Demolition         11.0    320
23       Demolition         12.0    270

In [112]:
raleigh_tallies = tallies_by_permit(raleigh_plot,'permittypemapped','issuedMonth',colors,'month')

In [113]:
raleigh_tallies

[['Demolition',
  350,
  322,
  331,
  396,
  435,
  365,
  329,
  402,
  327,
  385,
  320,
  270,
  'rgba(255,99,132,1)'],
 ['Building',
  8861,
  8515,
  11221,
  11435,
  12306,
  12720,
  11147,
  11772,
  10236,
  10388,
  8416,
  8181,
  'rgba(54, 162, 235, 1)']]

In [14]:
pd.DataFrame(raleigh_tallies).to_csv('_data/raleigh_tallies.csv')

In [6]:
raleigh_year = raleigh_data.groupby(['permittypemapped','issuedYear']).size().to_frame().reset_index().rename(columns={0:'tally'})

In [7]:
raleigh_year.head()

  permittypemapped  issuedYear  tally
0         Building      2000.0   5217
1         Building      2001.0   7858
2         Building      2002.0   8024
3         Building      2003.0   7658
4         Building      2004.0   8914

In [13]:
raleigh_year_tallies = tallies_by_permit(raleigh_year,'permittypemapped','issuedYear',colors,'year')

In [14]:
raleigh_year_tallies

[['Building',
  5217,
  7855,
  8012,
  7658,
  8921,
  8755,
  8714,
  8546,
  6355,
  4707,
  5258,
  5785,
  6125,
  6825,
  6500,
  7609,
  7755,
  4145,
  'rgba(255,99,132,1)',
  [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], 'year']],
 ['Demolition',
  129,
  150,
  149,
  210,
  196,
  223,
  304,
  378,
  256,
  135,
  129,
  250,
  196,
  229,
  224,
  407,
  408,
  239,
  'rgba(54, 162, 235, 1)',
  [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], 'year']]]

In [15]:
pd.DataFrame(raleigh_year_tallies).to_csv('_data/raleigh_tallies_year.csv')